fastapi==0.78.0
folium==0.12.1
global_land_mask==1.0.0
Jinja2==2.11.3
numpy==1.19.5
pydantic==1.6.2
pyproj==3.0.1
PyYAML==6.0
requests==2.25.1
scipy==1.8.1
SLPP==1.2.3
streamlit==0.80.0
streamlit_folium==0.3.0
uvicorn==0.13.4
